# Projekt-spezifische Ignorierliste
/storage/
config.php
.env
*.log
*.sqlite
*.key
*.pem
/.idea/
/.vscode/
/node_modules/
/vendor/
.DS_Store
Thumbs.db
server/files.zip
BACKUP.php
*.bak
*.orig
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
