# Projekt-spezifische Ignorierliste
/storage/
config.php
config.local.php
config_local.php
.env
*.log
*.sqlite
*.key
*.pem
/.idea/
/.vscode/
/node_modules/
/vendor/
.DS_Store
Thumbs.dbserver/files.zip
BACKUP.php
*.bak
*.bak.*
*.orig
*~ git add .gitignore
__pycache__
