[Unit]
Description=Internetcafe Client Daemon (clientd)
After=network.target

[Service]
Type=simple
User=surfer
Group=surfer
ExecStart=/usr/bin/env python3 /home/surfer/Desktop/Projekte/internet_cafe/clients/clientd.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target